/HW-2/sosnoqc/*
*.pdf
*.nc
*.html
Final/snow_pit_obs/KP18-02-Feb.xml
Final/snow_pit_obs/KP19-03-Feb.xml
Final/snow_pit_obs/KP20-05-Feb.xml
Final/snow_pit_obs/KP21-06-Feb.xml
Final/snow_pit_obs/KP22-07-Feb.xml
Final/snow_pit_obs/KP23-08-Feb.xml
Final/snow_pit_obs/KP24-10-Feb.xml
Final/snow_pit_obs/KP25-12-Feb.xml
Final/snow_pit_obs/KP26-14-Feb.xml
Final/snow_pit_obs/KP27-15-Feb.xml
Final/snow_pit_obs/KP28-17-Feb.xml
Final/snow_pit_obs/KP29-18-Feb.xml
Final/snow_pit_obs/KP30-20-Feb.xml
Final/snow_pit_obs/KP31-21-Feb.xml
Final/snow_pit_obs/KP32-23-Feb.xml
Final/snow_pit_obs/KP33-24-Feb.xml
Final/snow_pit_obs/KP34-26-Feb.xml
Final/snow_pit_obs/KP35-27-Feb.xml
Final/snow_pit_obs/KP36-28-Feb.xml
Final/snow_pit_obs/KP37-01-Mar.xml
Final/snow_pit_obs/KP38-02-Mar.xml
Final/snow_pit_obs/KP39-03-Mar.xml
Final/snow_pit_obs/KP40-05-Mar.xml
Final/snow_pit_obs/KP41-06-Mar.xml
Final/snow_pit_obs/KP42-08-Mar.xml
Final/snow_pit_obs/KP43-10-Mar.xml
Final/snow_pit_obs/KP44-11-Mar.xml
Final/snow_pit_obs/KP45-12-Mar.xml
Final/snow_pit_obs/KP46-14-Mar.xml
Final/snow_pit_obs/KP47-15-Mar.xml
Final/snow_pit_obs/KP48-16-Mar.xml
Final/snow_pit_obs_old/KP01-06-Jan.xml
Final/snow_pit_obs_old/KP02-07-Jan.xml
Final/snow_pit_obs_old/KP03-09-Jan.xml
Final/snow_pit_obs_old/KP04-10-Jan.xml
Final/snow_pit_obs_old/KP05-11-Jan.xml
Final/snow_pit_obs_old/KP06-13-Jan.xml
Final/snow_pit_obs_old/KP07-15-Jan.xml
Final/snow_pit_obs_old/KP08-16-Jan.xml
Final/snow_pit_obs_old/KP09-18-Jan.xml
Final/snow_pit_obs_old/KP10-19-Jan.xml
Final/snow_pit_obs_old/KP11-21-Jan.xml
Final/snow_pit_obs_old/KP12-22-Jan.xml
Final/snow_pit_obs_old/KP13-24-Jan.xml
Final/snow_pit_obs_old/KP14-26-Jan.xml
Final/snow_pit_obs_old/KP15-27-Jan.xml
Final/snow_pit_obs_old/KP16-28-Jan.xml
Final/snow_pit_obs_old/KP17-31-Jan.xml
Final/snow_pit_obs_old/KP18-02-Feb.xml
Final/snow_pit_obs_old/KP19-03-Feb.xml
Final/snow_pit_obs_old/KP20-05-Feb.xml
Final/snow_pit_obs_old/KP21-06-Feb.xml
Final/snow_pit_obs_old/KP22-07-Feb.xml
Final/snow_pit_obs_old/KP23-08-Feb.xml
Final/snow_pit_obs_old/KP24-10-Feb.xml
Final/snow_pit_obs_old/KP25-12-Feb.xml
Final/snow_pit_obs_old/KP26-14-Feb.xml
Final/snow_pit_obs_old/KP27-15-Feb.xml
Final/snow_pit_obs_old/KP28-17-Feb.xml
Final/snow_pit_obs_old/KP29-18-Feb.xml
Final/snow_pit_obs_old/KP30-20-Feb.xml
Final/snow_pit_obs_old/KP31-21-Feb.xml
Final/snow_pit_obs_old/KP32-23-Feb.xml
Final/snow_pit_obs_old/KP33-24-Feb.xml
Final/snow_pit_obs_old/KP34-26-Feb.xml
Final/snow_pit_obs_old/KP35-27-Feb.xml
Final/snow_pit_obs_old/KP36-28-Feb.xml
Final/snow_pit_obs_old/KP37-01-Mar.xml
Final/snow_pit_obs_old/KP38-02-Mar.xml
Final/snow_pit_obs_old/KP39-03-Mar.xml
Final/snow_pit_obs_old/KP40-05-Mar.xml
Final/snow_pit_obs_old/KP41-06-Mar.xml
Final/snow_pit_obs_old/KP42-08-Mar.xml
Final/snow_pit_obs_old/KP43-10-Mar.xml
Final/snow_pit_obs_old/KP44-11-Mar.xml
Final/snow_pit_obs_old/KP45-12-Mar.xml
Final/snow_pit_obs_old/KP46-14-Mar.xml
Final/snow_pit_obs_old/KP47-15-Mar.xml
Final/snow_pit_obs_old/KP48-16-Mar.xml
Final/snow_pit_obs/KP18-02-Feb.xml
Final/snow_pit_obs/KP19-03-Feb.xml
Final/snow_pit_obs/KP20-05-Feb.xml
Final/snow_pit_obs/KP21-06-Feb.xml
Final/snow_pit_obs/KP22-07-Feb.xml
Final/snow_pit_obs/KP23-08-Feb.xml
Final/snow_pit_obs/KP24-10-Feb.xml
Final/snow_pit_obs/KP25-12-Feb.xml
Final/snow_pit_obs/KP26-14-Feb.xml
Final/snow_pit_obs/KP27-15-Feb.xml
Final/snow_pit_obs/KP28-17-Feb.xml
Final/snow_pit_obs/KP29-18-Feb.xml
Final/snow_pit_obs/KP30-20-Feb.xml
Final/snow_pit_obs/KP31-21-Feb.xml
Final/snow_pit_obs/KP32-23-Feb.xml
Final/snow_pit_obs/KP33-24-Feb.xml
Final/snow_pit_obs/KP34-26-Feb.xml
Final/snow_pit_obs/KP35-27-Feb.xml
Final/snow_pit_obs/KP36-28-Feb.xml
Final/snow_pit_obs/KP37-01-Mar.xml
Final/snow_pit_obs/KP38-02-Mar.xml
Final/snow_pit_obs/KP39-03-Mar.xml
Final/snow_pit_obs/KP40-05-Mar.xml
Final/snow_pit_obs/KP41-06-Mar.xml
Final/snow_pit_obs/KP42-08-Mar.xml
Final/snow_pit_obs/KP43-10-Mar.xml
Final/snow_pit_obs/KP44-11-Mar.xml
Final/snow_pit_obs/KP45-12-Mar.xml
Final/snow_pit_obs/KP46-14-Mar.xml
Final/snow_pit_obs/KP47-15-Mar.xml
Final/snow_pit_obs/KP48-16-Mar.xml
